/* Add application styles & imports to this file! */
html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.progress,
.progress * {
  cursor: progress !important;
}
